.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    top: 90px;
    overflow: scroll;
    right: 30px;
    z-index: 5;
    box-shadow: 5px 5px 10px rgba(0,0,0, .6);

    .empty-message{
      font-size: 30px;
      margin: 20px;
      color: rgb(151, 149, 149);
      text-align: center;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
    }
  }
  